/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    /* Custom variables here, ex. Primary Colors */
    --primary-color-1: hsl(0, 9%, 24%);
    --primary-color-2: hsl(0, 0%, 100%);
    
    --accent-color: hsl(0, 89%, 31%);
    /* --bg-color-1: hsl(0, 0%, 100%); */
}
 * {
    text-decoration: none;
 }
/* Mobile First */
body {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: hsl(0, 9%, 24%);
}
.container {
    width: 80%;
    max-width: 1200px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #433838cb;
    z-index: 999;
}
.form {
    background-color: var(--primary-color-2);
    padding: 2rem;
}
.btn-account {
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.company-name {
    display: none;
}
.main-title {
    display: none;
    font-size: 1rem;
    font-style: italic;
    font-weight: 800;
}
.nav {
    position: absolute;
    top: 100%;
    inset: 0 0 0 50%;
    right: 10%;
    z-index: 900;

}
.mobile-btn {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 10%;
    margin: 1rem 0;
    display: flex;
    align-items: end;
    justify-content: center;
}
.fa-bars {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
.menu {
    z-index: 900;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--primary-color-2);
    width: 100%;
    padding-bottom: 1rem;
}
.hidden {
    display: none;
}

.fa-user {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    padding: .2rem .3rem;
    font-size: 1.5rem;
}

.profile {
    text-align: center;
    cursor: pointer;
}
.profile:hover {
    color: var(--accent-color);
}
.login-menu, .logout-menu {
    position: absolute;
    right: 10%;
    /* top: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-2);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 1rem 1.5rem;
}
.login-menu.hidden {
    display: none;
}
.menu:nth-child(6) {
  margin-bottom: 1rem;
}
.admin-menu .nav-link {
    width: 32px;
}
.nav-link:hover {
    color: var(--accent-color);
}
.main {
    position: relative;
    display: grid;
    grid-template-areas: "home" "services" "blogs" "testimonials" "about" "contact";
    gap: .5rem 1rem;
}
.section {
    position: relative;
    /* margin: .5rem 0; */
}
.section.hidden {
    display: none;
}
.section:nth-child(1) {
    grid-area: home;
}
.section:nth-child(2) {
    grid-area: services;
}
.section:nth-child(3) {
    grid-area: blogs;
}
.latest-blogs {
    border: 2px solid var(--accent-color);
}
.section:nth-child(4) {
    grid-area: testimonials;
}
.section:nth-child(5) {
    grid-area: about;
    border: 2px solid var(--accent-color);
}
.section:nth-child(6) {
    grid-area: contact;
    border: 2px solid var(--accent-color);
}
.section-cards {
    display: grid;
    grid-template-areas: "strength" "fitness" "flexability" "weight-loss";
    gap: 1rem;
}
.section-card:nth-child(1) {
    grid-area: strength;
}
.section-card:nth-child(2) {
    grid-area: fitness;
}
.section-card:nth-child(3) {
    grid-area: flexability;
}
.section-card:nth-child(4) {
    grid-area: weight-loss;
}

.section-title {
    font-size: 1.35rem;
    font-weight: 700;
    margin: .5rem;
}
.hero-image {
    /* position: absolute; */
    top: 0;
}
.hero-content {
    position: absolute;
    top: 5%;
    left: 5%;
    /* width: 50%; */
}
.hero-title {
    color: var(--primary-color-2);
    font-size: 1.2rem;
}
.hero-text {
    font-size: .8rem;
    color: var(--accent-color);
}
.hero-info {
    color: var(--primary-color-2);
    font-size: .5rem;
}
.call-to-action {
    font-size: .5rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-color-2);
    border-radius: 50px;
    margin: .5rem 0;
    padding: 0.2rem .5rem;
}
.section-card {
    border: 2px solid var(--accent-color);
    background-color: hsla(0, 22%, 90%, 0.667);
}
.section-card .card-title {
    font-size: 1rem;
    margin: 1rem;
}
.section-card .card-content {
    margin: 1rem;
}
/* .latest-blogs {
    margin: 1rem 0;
} */
.blog-post {
    margin: .5rem;
}
.testimonial {
    border: 2px solid var(--accent-color);
    margin: .5rem 0;
}
.form {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.contact-form .form {
    background-color: #D9D9D9;
}
.form-field input, textarea {
    background-color: #dbacac6a;
    border-style: none;
    border: 1px solid #a99393;
    border-radius: 4px;
    font-size: small;
    padding: .4rem 1rem;
}
.form-field {
    margin: .5rem;
}
.btn-submit, .text-field {
    width: 100%;
}
h3 {
    font-size: 1rem;
}
.testimonial-content {
    display: grid;
    grid-template-areas: "testimonial1" "testimonial2" "testimonial3";
    gap: 1rem;
}

.testimonial-title, .info, .about-description {
    padding: .5rem;
}
/* .logout-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* -------- All main items above this line --------------- */
.footer {
    background-color: #433838;
    height: 100px;
    width: 100%;
    color: #fff;
    font-size: small;
}
.attribution {
    display: flex;
    justify-content: center;
}
.back-to-top {
    background: hsla(0, 22%, 90%, 0.667);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: fixed;
    right: 5px;
    bottom: 5rem;
    z-index: 999;
}

/* -------------- Media Queries ----------------------------------------*/

@media (min-width: 768px) {
    .main-title {
        font-size: 1.8rem;
    }
    .section-cards {
        grid-template-areas: "strength fitness" "flexability weight-loss";
    }
    .hero-content {
        top: 20%;
    }
    .hero-title {
        font-size: 1.5rem;
    }
    .hero-text {
        font-size: 1rem;
    }
    .hero-info {
        font-size: .8rem;
    }
    .call-to-action {
        font-size: .8rem;
    }
    .company-name {
        display: block;
    }
}

@media (min-width: 1024px) {
    .main-title {
        font-size: 2.5rem;
    }
    .main {
        grid-template-areas:  "home home home" "services services blogs" "testimonials testimonials testimonials" "about contact contact";
    }
    .mobile-btn {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: auto;
        margin: unset;
    }
    .nav {
        position: unset;
    }
    .form {
        align-items: start;
    }
    .testimonial-content {
        grid-template-areas: "testimonial1 testimonial2 testimonial3";
    }

    .testimonial:nth-child(1) {
        grid-area: testimonial1;
    }
    .testimonial:nth-child(2) {
        grid-area: testimonial2;
    }
    .testimonial:nth-child(3) {
        grid-area: testimonial3;
    }
    .hero-content {
        top: 25%;
    }
    .hero-title {
        font-size: 1.8rem;
    }
    .hero-text {
        font-size: 1.2rem;
    }
    .hero-info {
        font-size: 1rem;
    }
    .call-to-action {
        font-size: 1rem;
    }
}